{% extends 'base-adminlte.html.twig' %}

{% block title %}Fireping - Slave {{ slave.id }}{% endblock %}

{% block page_title %}<i class="fas fa-microchip"></i> Slave {{ slave.id }}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-3">

            {% if slave.slaveGroup %}
                {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                    'color' : 'aqua',
                    'icon'  : 'fa fa-list',
                }%}
                    {% block box_text %}Slavegroup {{ slave.slaveGroup.name }}{% endblock %}
                    {% block box_number %}
                        <ul>
                        {% for item in slave.slaveGroup.slaves %}
                            <li>{{ item.id }}</li>
                        {% endfor %}
                        </ul>
                    {% endblock %}
                    {% block progress_description %}{% endblock %}
                {% endembed %}
            {% else %}
                {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                    'color' : 'aqua',
                    'icon'  : 'fa fa-list',
                }%}
                    {% block box_text %}Slavegroup{% endblock %}
                    {% block box_number %}Slave is not part of any slavegroup{% endblock %}
                    {% block progress_description %}{% endblock %}
                {% endembed %}
            {% endif %}
        </div>

        <div class="col-md-3">
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'color' : 'aqua',
                'icon'  : 'fa fa-bullseye',
            }%}
                {% block box_text %}Targets{% endblock %}
                {% block box_number %}{{ targets }}{% endblock %}
                {% block progress_description %}{% endblock %}
            {% endembed %}
        </div>

        <div class="col-md-3">
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'color' : slave.statusColor,
                'icon'  : 'fa fa-plug',
            }%}
                {% block box_text %}IP{% endblock %}
                {% block box_number %}{{ slave.ip }}{% endblock %}
                {% block progress_description %}{% endblock %}
            {% endembed %}
        </div>

        <div class="col-md-3">
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'color' : slave.statusColor,
                'icon'  : 'fa fa-clock-o',
            }%}
                {% block box_text %}Last contact{% endblock %}
                {% block box_number %}{{ slave.lastContact|date("d-m-Y") }}<br/>{{ slave.lastContact|date("H:i:s") }}{% endblock %}
                {% block progress_description %}{% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}Load{% endblock %}
                {% block box_body_class %}p-0 text-center{% endblock %}
                {% block box_body %}
                    <img style="max-width: 100%; height: auto;" onload="window.dispatchEvent(new Event('resize'));" class="graph" data-src-template="/api/graphs/slaves/{{ slave.id }}/load{% verbatim %}?start={{start}}&end={{end}}{% endverbatim  %}" />
                {% endblock %}
            {% endembed %}

            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}Memory{% endblock %}
                {% block box_body_class %}p-0 text-center{% endblock %}
                {% block box_body %}
                    <img style="max-width: 100%; height: auto;" onload="window.dispatchEvent(new Event('resize'));" class="graph" data-src-template="/api/graphs/slaves/{{ slave.id }}/memory{% verbatim %}?start={{start}}&end={{end}}{% endverbatim  %}" />
                {% endblock %}
            {% endembed %}

            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}Results{% endblock %}
                {% block box_body_class %}p-0 text-center{% endblock %}
                {% block box_body %}
                    <img style="max-width: 100%; height: auto;" onload="window.dispatchEvent(new Event('resize'));" class="graph" data-src-template="/api/graphs/slaves/{{ slave.id }}/posts{% verbatim %}?start={{start}}&end={{end}}{% endverbatim  %}" />
                {% endblock %}
            {% endembed %}

            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}Workers{% endblock %}
                {% block box_body_class %}p-0 text-center{% endblock %}
                {% block box_body %}
                    <img style="max-width: 100%; height: auto;" onload="window.dispatchEvent(new Event('resize'));" class="graph" data-src-template="/api/graphs/slaves/{{ slave.id }}/workers{% verbatim %}?start={{start}}&end={{end}}{% endverbatim  %}" />
                {% endblock %}
            {% endembed %}

            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}Queues{% endblock %}
                {% block box_body_class %}p-0 text-center{% endblock %}
                {% block box_body %}
                    <img style="max-width: 100%; height: auto;" onload="window.dispatchEvent(new Event('resize'));" class="graph" data-src-template="/api/graphs/slaves/{{ slave.id }}/queues{% verbatim %}?start={{start}}&end={{end}}{% endverbatim  %}" />
                {% endblock %}
            {% endembed %}

        </div>
        <div class="col-md-3">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' with {'boxtype' : 'primary'} %}
                {% block box_title %}Navigation{% endblock %}
                {% block box_body %}
                    <div id="ctrl"></div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        q.ready(function(){
            // 'activate' the charts
            var graphs = [];
            q('.graph').forEach(function(item){
                graphs.push(
                    q(item).rrdGraphPng({
                        canvasPadding: 120,
                        cursorUrl: "/img",
                    })
                );
            });

            // crate a control panel and attach it to the charts
            q('#ctrl').rrdGraphCtrl(graphs,{
                initialTimeRange: 'Last 60 Minutes',
                resetTimeOnDateChange: true
            });
        });
    </script>
{% endblock %}