{% extends 'base.html.twig' %}

{% block body %}
    <h1>Slavegroup list</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slaveGroup in slaveGroups %}
            <tr>
                <td><a href="{{ path('slavegroup_show', { 'id': slaveGroup.id }) }}">{{ slaveGroup.id }}</a></td>
                <td>{{ slaveGroup.name }}</td>
                <td>
                    <a href="{{ path('slavegroup_edit', { 'id': slaveGroup.id }) }}" class="btn btn-default btn-xs">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('slavegroup_new') }}" class="btn btn-primary">Create a new slavegroup</a>

{% endblock %}
