{% extends 'base-adminlte.html.twig' %}

{% block title %}Fireping - {{ domain.name }}{% endblock %}

{% block page_title %}Domain  {{ domain.name }}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-9">
        {% if domain.devices|length == 0 %}
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' with {'boxtype': 'warning'} %}
                {% block box_title %}No devices found{% endblock %}
                {% block box_body %}
                    There are no devices configured in this domain
                {% endblock %}
            {% endembed %}
        {% endif %}
        {% for device in domain.devices %}
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}{{ device.name }} - {{ device.ip }}{% endblock %}
                {% block box_body_class %}p-0 text-center{% endblock %}
                {% block box_body %}
                    <a href="{{ path('app_device_get', {id: device.id}) }}">
                        <img style="max-width: 100%; height: auto;"  src="{{ path('app_graph_summary', {id: device.id, start:start, end:end, width:1000}) }}" />
                    </a>
                {% endblock %}
            {% endembed %}
        {% endfor %}
    </div>

    <div class="col-md-3">
        {% if domain.devices|length > 0 %}
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}Navigation{% endblock %}
                {% block box_body %}
                    <form method="get">
                        <input type="text" class="form-control datetimepicker" name="start" value="{{ start }}">
                        <br/>
                        <input type="text" class="form-control datetimepicker" name="end" value="{{ end }}">
                        <br/>
                        <input type="submit" class="btn btn-primary" value="Update">
                    </form>
                {% endblock %}
            {% endembed %}
        {% endif %}

        {% if domain.subdomains|length > 0 %}
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}Subdomains{% endblock %}
                {% block box_body %}
                    <ul>
                    {% for subdomain in domain.subdomains %}
                        <li><a href="{{ path("app_domain_get", {id: subdomain.id}) }}">{{ subdomain.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% endblock %}
            {% endembed %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            flatpickr(".datetimepicker", {enableTime: true, time_24hr: true, dateFormat: "U", altInput: true, altFormat: "d-m-Y H:i"})
        });
    </script>
{% endblock %}