{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-2 sidebar" style="padding:0px;">
            {% include 'menu/menu.html.twig' %}
        </div>
        <div class="col-md-10 col-md-offset-2 main">
            <h1 class="page-header">{{ device.name }} - {{ device.ip }}</h1>

            <div class="row">
                <div class="col-md-9">
                {% for probe in device.getActiveProbes() %}
                    {% for slavegroup in device.getActiveSlaveGroups() %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ probe.name }} - {{ slavegroup.name }}
                            </div>
                            <div class="panel-body" style="padding:0px; text-align:center; background-color: #f5f5f5;">
                                <img style="max-width: 100%; height: auto;" onload="window.dispatchEvent(new Event('resize'));" class="graph" data-src-template="/api/graphs/detail/{{ device.id }}/{{ probe.id }}/{{ slavegroup.id }}{% verbatim %}?start={{start}}&end={{end}}{% endverbatim  %}" />
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                </div>

                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Navigation</div>
                        <div class="panel-body" id="ctrl"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Alert rules</div>
                        <div class="panel-body">
                            {% for rule in device.activeAlertRules %}
                                <li>{{ rule.name }}</li>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Alert destinations</div>
                        <div class="panel-body">
                            {% for destination in device.activeAlertDestinations %}
                                <li>{{ destination.name }}</li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        q.ready(function(){
            // 'activate' the charts
            var graphs = [];
            q('.graph').forEach(function(item){
                graphs.push(
                    q(item).rrdGraphPng({
                        canvasPadding: 120,
                        cursorUrl: "/img",
                    })
                );
            });

            // crate a control panel and attach it to the charts
            q('#ctrl').rrdGraphCtrl(graphs,{
                initialTimeRange: 'Last 60 Minutes',
                resetTimeOnDateChange: true
            });
        });
    </script>
{% endblock %}