{% extends 'base-adminlte.html.twig' %}

{% block title %}Fireping - alerts{% endblock %}

{% block page_title %}<i class="far fa-bell"></i> Active alerts {% if domain is defined %} in {{ domain.name }}{% endif %}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
    {% for key,domain in alertDomains %}
        <span class="col-md-2">
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'color' : 'yellow',
                'icon'  : 'fas fa-layer-group',
            }%}
                {% block box_text %}<a href="{{ path('app_alert_domain', {id: key}) }}">{{ domain.name }}</a>{% endblock %}
                {% block box_number %}{{ domain.alerts }} active alerts{% endblock %}
                {% block progress_description %}{% endblock %}
            {% endembed %}
        </span>
    {% endfor %}
    </div>
    <div class="row">
    {% if domain is defined %}
        {% for device in domain.devices %}
            {% if device.activeAlerts|length > 0 %}
                <span class="col-md-3">
                    {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                        'color' : 'yellow',
                        'icon'  : 'fas fa-desktop',
                    }%}
                        {% block box_text %}<a href="{{ path('app_device_get', {id: device.id}) }}">{{ device.name }}</a>{% endblock %}
                        {% block box_number %}
                            {% for alert in device.activeAlerts %}
                                {{ alert.alertRule.name }} from {{ alert.slaveGroup.name }}
                            {% endfor %}
                        {% endblock %}
                        {% block progress_description %}{% endblock %}
                    {% endembed %}
                </span>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}