{% extends 'base-adminlte.html.twig' %}

{% block title %}Fireping - {{ q }}{% endblock %}

{% block page_title %}Search "{{ q }}"{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-9">
            {% for device in search_devices %}
                {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                    {% block box_title %}{{ device.name }} - {{ device.ip }}{% endblock %}
                    {% block box_body_class %}p-0 text-center{% endblock %}
                    {% block box_body %}
                        <a href="{{ path('app_device_get', {id: device.id}) }}"><img src="{{ path('app_graph_summary', {id: device.id}) }}" width="100%"  alt="Summary graph for {{ device.name }}"/></a>
                    {% endblock %}
                {% endembed %}
            {% endfor %}
        </div>
        <div class="col-md-3">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}Domain results for "{{ q }}"{% endblock %}
                {% block box_body %}
                    <ul>
                    {% for domain in search_domains %}
                       <li><a href="{{ path('app_domain_get', {id: domain.id}) }}">{{ domain.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}