{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-2 sidebar">
            {% include 'menu/menu.html.twig' %}
        </div>
        <div class="col-md-8 col-md-offset-2 main">
            <h1 class="page-header">{{ device.name }} - {{ device.ip }}</h1>

            {% for probe in device.getAllProbes() %}
                {% for slavegroup in device.getAllSlaveGroups() %}
                    <h3><u>{{ probe.name }} - {{ slavegroup.name }}</u></h3>
                    <img style="width:1097px; height:301px;" class="graph" data-src-template="/api/graphs/detail/{{ device.id }}/{{ probe.id }}/{{ slavegroup.id }}{% verbatim %}?start={{start}}&end={{end}}{% endverbatim  %}" /><br/><br/>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-md-2" id="ctrl" style="position:absolute; right:0px; top: 100px;">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        q.ready(function(){
            // 'activate' the charts
            var graphs = [];
            q('.graph').forEach(function(item){
                graphs.push(
                    q(item).rrdGraphPng({
                        canvasPadding: 120,
                        cursorUrl: "/img",
                    })
                );
            });

            // crate a control panel and attach it to the charts
            q('#ctrl').rrdGraphCtrl(graphs,{
                initialTimeRange: 'Last 60 Minutes',
                resetTimeOnDateChange: true
            });
        });
    </script>
{% endblock %}