{% extends 'base.html.twig' %}

{% block body %}
    <h1>Probe list</h1>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for probe in probes %}
            <tr>
                <td><a href="{{ path('probe_show', { 'id': probe.id }) }}">{{ probe.id }}</a></td>
                <td>{{ probe.name }}</td>
                <td>
                    <a href="{{ path('probe_edit', { 'id': probe.id }) }}" class="btn btn-default btn-xs">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('probe_new') }}" class="btn btn-primary">Create a new probe</a>

{% endblock %}
