{% extends 'base.html.twig' %}

{% block body %}
    <h1>Probe</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ probe.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ probe.name }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ probe.type }}</td>
        </tr>
        <tr>
            <th>Step</th>
            <td>{{ probe.step }}</td>
        </tr>
        <tr>
            <th>Samples</th>
            <td>{{ probe.samples }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('probe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('probe_edit', { 'id': probe.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
